<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Receipt</title>
</head>
<body>

  <h1>You've Purchased a Garbage Space!</h1>

  <p>Hey <%= @user.first_name %>!</p>

  <p>
    Please find your receipt in the PDF attachement.
  </p>

</body>
</html>
