<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Receipt</title>
</head>
<body>

  <h1>Your Garbage Space was Bought!</h1>

  <p>Hey <%= @user.first_name %>!</p>

  <p>
    Please find your receipt in the PDF attachement. Your money will be deposited in 5-10 business days.
  </p>

</body>
</html>
